/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 1rem;
}

.intro, .gallery {
    margin-bottom: 2rem;
}

.images {
    display: flex;
    gap: 1rem;
}

.image {
    background-color: #ccc;
    padding: 2rem;
    flex: 1;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsividade Mobile */
@media (max-width: 480px) {
  nav ul li {
    display: flex;
    flex-direction: column;
    padding: 6px;
  }

  header h1 {
    font-size: 30px;
  }

  .images {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  footer p {
    font-size: 14px;
  }
}


/* Responsividade Tablet*/
@media (min-width: 481px) and (max-width: 768px) {
  nav ul li {
    display: flex;
    flex-direction: column;
    padding: 8px;
  }

  .images {
    display: flex;
    flex-direction: column;
  }
}

/* Responsividade Laptops */
@media (min-width: 769px) and (max-width: 1279px) {
  header {
    display: flex;
    justify-content: space-between;
  }
}

/* Responsividade Desktop */ 

@media (min-width: 1280px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
  }

}